<div class="navigation">
    <header>
        <div class="nav-header">
            <i class="fa-brands fa-slack"></i>
            <span>Workflow</span>
        </div>
    </header>
     <div class="nav-items <%= active === 'Dashboard' ? 'active': ''%>">
        <a href="/">
            <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Team'? 'active': ''%>">
        <a href="team">
            <i class="fa-solid fa-users"></i>
            <span>Team</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Projects'? 'active': ''%>">
        <a href="projects">
            <i class="fa-regular fa-folder"></i>
            <span>Projects</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Calender'? 'active': ''%>">
        <a href="calender">
            <i class="fa-regular fa-calendar"></i>
            <span>Calender</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Documents'? 'active' : ''%>">
        <a href="documents">
            <i class="fa-regular fa-envelope"></i>
            <span>Documents</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Reports'? 'active': ''%>">
        <a href="/reports">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Reports</span>
        </a>
    </div>
</div>

