<div class="navigation">
    <header>
        <div class="nav-header">
            <i class="fa-brands fa-slack"></i>
            <span>REHABILITATION</span>
        </div>
    </header>
     <div class="nav-items <%= active === 'Dashboard' ? 'active': ''%>">
        <a href="/">
            <i class="fa-solid fa-house"></i>
        <span>Home</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'add'? 'active': ''%>">
        <a href="/add">
            <i class="fa-solid fa-user-plus"></i>
            <span>Add patients</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Discharge'? 'active': ''%>">
        <a href="/discharge">
            <i class="fa-solid fa-user-minus"></i>
            <span>Discharge</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Follow up'? 'active' : ''%>">
        <a href="/follow_up">
            <i class="fa-solid fa-address-card"></i>
            <span>Follow up</span>
        </a>
    </div>
    <div class="nav-items <%= active === 'Reports'? 'active': ''%>">
        <a href="/reports">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Reports</span>
        </a>
    </div>
</div>

