<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <%- include("./partials/navigation") %>
        <div class="content">
            <%- include("./partials/header") %>
            <div class="main-content">
                <h3>Discharge Patients</h3><br>
                <div class="discharge-box-div">
                    <div class="tab">
                        <table>
                            <div class="tab-1">
                                <tr class="table-titles">
                                    <td class="one">Patient ID</td>
                                    <td class="one">Firstname</td>
                                    <td class="one">Surname</td>
                                    <td class="one">Check in Date</td>
                                    <td class="one">Bill Status</td>
                                    <td class="one">Discharge</td>
                                </tr>
                            </div>
                            <div class="tab-2">
                                <% patients_list.forEach(function(patient){ %>
                                    <tr>
                                        <td><%= patient.patient_id %></td>
                                        <td><%= patient.fname %></td>
                                        <td><%= patient.sname %></td>
                                        <td><%= patient.check_in_date %></td>
                                        <td><%= patient.bill_status %></td>
                                        <td><button class="discharge-btn" onclick="deletePatient('<%= patient.patient_id %>','<%= patient.room %>')">Discharge</button></td>
                                    </tr>
                                <% }) %>
                                
                            </div>
                        </table>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        
        function deletePatient(patientId, room_id) {
            fetch('/deletePatient', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ patient_id: patientId, room_id: room_id}),
            })
            .then((response) => response.json())
            .then((data) => {
                if (data.message) {
                    console.log("Patient deleted Successfully");
                    window.location.reload();
                } else {
                    alert('Error deleting patient');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('An error occurred while deleting the patient');
            });
        }





    </script>
</body>
</html>