<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <%- include("./partials/navigation") %>
        <div class="content">
            <%- include("./partials/header") %>
            <div class="main-content">
                <h3>Dashboard</h3><br>
                <div class="box-div">
                    <div id="box">
                        <div class="card">
                            <h5>Rooms Available</h5><br>
                            <h1><%- rooms %></h1>
                        </div>
                        <div class="card">
                            <h5>Patients Admitted</h5><br>
                            <h1><%- patients %></h1>
                        </div>
                        <div class="card">
                            <h5>Unpaid Bill</h5><br>
                            <h1><%- bill %></h1>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>