<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.js" integrity="sha512-n8DscwKN6+Yjr7rI6mL+m9nS4uCEgIrKRFcP0EOkIvzOLUyQgOjWK15hRfoCJQZe0s6XrARyXjpvGFo1w9N3xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container">
        <%- include("./partials/navigation") %>
        <div class="content">
            <%- include("./partials/header") %>
            <div class="main-content">
                <h3>Reports</h3>
                    <div class="charts">
                        <canvas id="myChart"></canvas>
                        <canvas id="pieChart"></canvas>
                        <canvas id="lineChart"></canvas>
                        <canvas id="multiLine"></canvas>
                    </div>
                    
             
                <script>
                    const months = '<%= months %>'
                    const sales = '<%= sales %>'
                    const names = '<%= names %>'
                    const salary = '<%= salary %>'
                    const expenses = '<%= expenses %>'
                    console.log(expenses)
                </script>
                <script src="/graphs.js"></script>
            </div>
        </div>
    </div>
</body>
</html>